body {
    background: #333;
    margin: 0;
    transition: all 0.2s ease-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    margin: 2rem auto;
    width: 600px;
}

@media screen and (max-width: 600px) {
    #app {
        margin: 2rem 0;
        width: 100%;
    }
}

.address,
.contact,
.hero,
.hours,
.html,
.social,
.text {
    padding: 1rem 2rem;
}

.call-to-action {
    margin: 2rem 0;
}

.call-to-action .button {
    text-decoration: none;
}

.call-to-action .button:hover {
    filter: brightness(1.1);
}

.form {
    padding-bottom: 1rem;
}

.form .field {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 1rem;
}

.form label {
    margin-bottom: 0.5rem;
}

.form input, .form textarea {
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem;
}

.form input:focus, .form textarea:focus {
    border-color: orange;
    box-shadow: 0 0 5px orange;
    outline: none;
}

.form textarea {
    resize: vertical;
}

.form .footer {
    align-items: center;
    display: flex;
}

.hero {
    background-position: center;
    background-size: cover;
}

.hours {
    padding-bottom: 2rem;
}

.hours.light {
    border-color: white;
    color: white;
}

.hours.dark {
    border-color: black;
    color: black;
}

.hours .row {
    display: flex;
}

.hours .row:not(:last-of-type) {
    margin-bottom: 0.5rem;
}

.hours .row .divider {
    flex: 1;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    margin: 0 4px 8px;
    opacity: 0.25;
}

.map {
    margin-bottom: 1rem;
}

.social {
    text-align: center;
}

.social.light a {
    color: black;
}

.social.light a {
    color: white;
}

.social a {
    margin: 0 0.25rem;
    opacity: 0.5;
    padding: 0 0.25rem;
}

.social a:hover {
    opacity: 0.75;
}

.window {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
}

.window.parallax {
    background-attachment: fixed;
}

/* Text styles */

body, * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
}

p {
    line-height: 1.5rem;
}

/* 
REUSABLE CLASSES
*/

.button {
    font-weight: bold;
    padding: 1rem;
}

.button.disabled {
    opacity: 0.5;
    pointer-events: none;
}