body {
    background: #333;
    margin: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    margin: 2rem auto;
    opacity: 0;
    -webkit-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
    -webkit-transition-delay: 750ms;
    -o-transition-delay: 750ms;
    transition-delay: 750ms;
    width: 600px;
}

@media screen and (max-width: 600px) {
    #app {
        margin: 2rem 0;
        width: 100%;
    }
}

#app.ready {
    opacity: 1;
}

.address,
.button,
.contact,
.form,
.error,
.gallery,
.hero,
.hours,
.html,
.logo,
.social,
.text {
    padding: 1rem 2rem;
}

.stacked {
    padding-top: 0;
}

.stacked>*:first-child {
    margin-top: 0;
}

.button .container {
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.call-to-action {
    margin: 2rem 0;
}

.call-to-action .button {
    text-decoration: none;
}

.call-to-action .button:hover {
    -webkit-filter: brightness(1.1);
    filter: brightness(1.1);
}

.contact {
    padding-bottom: 2em;
}

.contact .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.contact .options.center {
    align-items: center;
}

.contact .options.inline {
    flex-direction: row;
    flex-wrap: wrap;
}

.contact .options.inline-center {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contact .options .option {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.25em 0;
}

.contact .options .option i {
    margin-right: 0.5em;
}

.contact .options.inline .option:not(:last-of-type),
.contact .options.inline-center .option:not(:last-of-type) {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    padding-right: 1em;
    margin-right: 1em;
}

.form form {
    padding-bottom: 1rem;
}

.form form .field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    margin-bottom: 1rem;
}

.form form label {
    margin-bottom: 0.5rem;
}

.form form input,
.form form textarea {
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem;
}

.form form textarea {
    resize: vertical;
}

.form form footer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.error {
    background: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 2em;
}

.error h1 {
    text-align: center;
}

.error summary {
    cursor: pointer;
}

.error details code,
.error .error-message {
    background: rgba(0, 0, 0, 0.85);
    color: white;
    font-family: Menlo, Monaco, monospace;
    font-size: 0.85em;
}

.error .error-message {
    border-radius: 0.5em;
    padding: 1em;
}

.error details code {
    border-radius: 0.25em;
    padding: 0.125em 0.25em;
}

.error details p:last-child {
    margin-bottom: 0;
}

.gallery .viewer {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.gallery .viewer img {
    width: 100%;
}

.gallery .viewer .gallery-button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: bold;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
    padding: 0 2rem;
}

.gallery .viewer .gallery-button:hover {
    opacity: 1;
}

.gallery .thumbnails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    height: 6rem;
    margin-top: 0.5rem;
    padding-bottom: 1rem;
}

.gallery .thumb {
    border: 1px solid transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
    height: 100%;
}

.gallery .thumb:hover {
    -webkit-filter: brightness(1);
    filter: brightness(1);
}

.gallery .thumb:not(:last-of-type) {
    margin-right: 0.5rem;
}

.gallery .thumb.current {
    -webkit-filter: brightness(1);
    filter: brightness(1);
    pointer-events: none;
}

.hero {
    background-position: center;
    background-size: cover;
}

.hours {
    padding-bottom: 2rem;
}

.hours.light {
    border-color: white;
    color: white;
}

.hours.dark {
    border-color: black;
    color: black;
}

.hours .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hours .row:not(:last-of-type) {
    margin-bottom: 0.5rem;
}

.hours .row .divider {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    margin: 0 4px 8px;
    opacity: 0.25;
}

.loading {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
    -webkit-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
    z-index: 1;
}

.loading.exit {
    opacity: 0;
}

.loading .spinner {
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border: 0.25rem solid rgba(255, 255, 255, 0.25);
    border-top-color: rgba(255, 255, 255, 0.75);
    border-radius: 2rem;
    height: 2rem;
    width: 2rem;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.logo {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem;
}

.logo img {
    max-height: 10rem;
}

.logo .details {
    padding: 0 1rem;
}

.logo .details h1 {
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.logo .details p {
    font-style: italic;
    margin: 0;
}

.map {
    margin-bottom: 1rem;
}

.social {
    text-align: center;
}

.social.light a {
    color: black;
}

.social.light a {
    color: white;
}

.social a {
    margin: 0 0.25rem;
    opacity: 0.5;
    padding: 0 0.25rem;
}

.social a:hover {
    opacity: 0.75;
}

.window {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 10rem;
}

.window.parallax {
    background-attachment: fixed;
}

/* Text styles */

body,
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem 0;
}

p {
    line-height: 1.5rem;
}

/*
REUSABLE CLASSES
*/

.btn, button {
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    font-weight: bold;
    padding: 1rem;
    text-decoration: none;
}

.btn:hover, button:hover {
    filter: brightness(1.1);
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}